*   {
    margin: 0; /*A propriedade margin do CSS define a área de margem nos quatro lados do elemento.*/
    padding: 0; /*A propriedade padding define uma a distância entre o conteúdo de um elemento e suas bordas*/
    text-decoration: none;
    }
.pai {
    width: 50%; /*Largura*/
    height: 500px; /*Altura*/
    background-color: red; /*Comando para inserir fundo de cor*/
    /*padding: 10px 20px 30px 40px --> serve para em uma unica linha de código, inserir as margens da imagem dentro do bloco*/
}
.filho {
    width: 50%;
    height: 50%;
    background-color: green;
    /*border-radius: 20px --> serve para arredondamento das bordas*/


}
