*   
{
    margin: 0; /*A propriedade margin do CSS define a área de margem nos quatro lados do elemento.*/
    /*padding: 0; /*A propriedade padding define uma a distância entre o conteúdo de um elemento e suas bordas*/
    /*text-decoration: none;*/
    }
    
.pai {
    width: 500px;/*Largura*/
    height: 500px; /*Altura*/
    background-image: url('https://t.ctcdn.com.br/MJFyxnOWYbXOWChcEWbT03PXkq4=/512x288/smart/filters:format(webp)/i329345.jpeg');
    background-repeat: no-repeat; /* Código para imagem não se repetir*/
    background-size: auto;
    /*background-color: red; /*Comando para inserir fundo de cor*/
    /*padding: 10px 20px 30px 40px --> serve para em uma unica linha de código, inserir as margens da imagem dentro do bloco*/
   
}

/*
.filho {
    width: 500px;
    height: 500px;
    background-color: green;
   position: relative; /*fixar o bloco no topo da pagina
   top: 150px; /* informando ao bloco a medida de distancia do topo da pagina
    left: 0px; /* informando ao bloco a distancia do lado esquerdo da pagina
    border: 2px solid white --> modelos para bordas em volta do bloco
    border-radius: 20px --> serve para arredondamento das bordas
} 
*/
/*
.absolute{
width: 80px;
height: 80px;
background-color: black;
position: absolute; /* a posição absolute respeita a posição do Pai*/
/*top: 50px;
}
*/
body{

    height: 200vh; /* Habilitando scrool na pagina VERTICAL*/
    width: 200vw; /* Habilitando scrool na pagina HORIZONTAL*/
}
